
body {
    background-color: #211A1D;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.container {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza todos os elementos horizontalmente */
    gap: 15px; /* Espaçamento entre os elementos */
    text-align: center; /* Centraliza o texto */
  }
.Title {
    color: #6320EE;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.SubTitle {
    color: #8075FF;
    font-size: 20px;
    margin-bottom: 10px;
}
.Imagem {
    width: 100%; /* Ocupa 100% do contêiner */
    height: auto; /* Mantém a proporção */
    max-width: 600px; /* Define um limite máximo para evitar distorções */
    border: 5px solid #070101; /* Borda branca */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.3s ease, filter 0.3s ease;
    
}
img:hover {
    transform: scale(1.1); /* Amplia a imagem */
    filter: brightness(1.2); /* Aumenta o brilho */
  }
.Paragraph {
    color: #E2FCEF;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.Botoes {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.Lista {
    color: #E2FCEF;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20px;
}
.Botao {
    appearance: none; /* Remove estilos nativos */
    -webkit-appearance: none; /* Para navegadores WebKit */
    -moz-appearance: none; /* Para Firefox */
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #6320EE;
    color: #E2FCEF;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.Botao:hover {
    background-color: #8075FF;
    transform: scale(1.05);
}
.Botao:active {
    background-color: #6320EE;
    transform: scale(0.95);
}