
.container {
    position: relative; /* Define o contêiner como referência */
    text-align: center; /* Centraliza o texto */
    background-color: #A9927D;
    width: 60%;
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Adiciona um pouco de espaço interno */
    border: #472C1B 5px solid; /* Borda verde escura */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: #000000 20px 10px; /* Sombra da borda */
    
  }
  
 
  p {
    margin-top: 20px; /* Espaçamento entre a imagem e o texto */
    color: #000000;
    font-size: 30px;
    line-height: 1.5;
    text-align: left; /* Alinha o texto à esquerda */
  }
  .special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h1, h2 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 40px;
  }
  

  body {
    background-image: url(img/1076809_885.jpg); /* Imagem de fundo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

  }