.img-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section {
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}